src/batchtest/testevents/seed/
src/batchtest/testevents/nostr_event_collector
src/batchtest/testevents/nostr_event_collector.exe
src/batchtest/testdata/
src/batchtest/bak/
src/batchtest/batchtest
src/batchtest/batchtest.exe
src/eventstore/data/
src/shard/data/
src/shard/testdata/
cmd/wal-hexdump/wal-hexdump
cmd/wal-hexdump/wal-hexdump.exe
cmd/wal-validator/wal-validator
cmd/wal-validator/wal-validator.exe
tempdocs/
demos/remote-quick-start/data/
demos/remote-quick-start/remote-quick-start.exe
demos/shard-coordinator-demo/shard-coordinator-demo.exe
demos/shard-coordinator-demo/data/
demos/remote-relay/relay/remote-relay.exe
demos/remote-relay/store/remote-store.exe
demos/remote-relay/store/remote-store
demos/remote-relay/store/eventData/
.vscode/