src/batchtest/testevents/seed/
src/batchtest/testevents/nostr_event_collector
src/batchtest/testevents/nostr_event_collector.exe
src/batchtest/testdata/
src/batchtest/batchtest
src/batchtest/batchtest.exe
cmd/wal-hexdump/wal-hexdump
cmd/wal-hexdump/wal-hexdump.exe
cmd/wal-validator/wal-validator
cmd/wal-validator/wal-validator.exe