src/batchtest/testevents/seed/
src/batchtest/testevents/nostr_event_collector
src/batchtest/testevents/nostr_event_collector.exe
src/batchtest/testdata/
src/batchtest/batchtest
src/batchtest/batchtest.exe